<!DOCTYPE html>
<html lang="zh-CN">

<%- include('../common/adminCommon/head', {title:'Dashboard 首页 &laquo; Admin'}); -%>

<body>
  <script>NProgress.start()</script>

  <div class="main">
    <!-- 顶部导航 -->
    <%- include('../common/adminCommon/navbar'); -%>
    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1>One Belt, One Road</h1>
        <p>Thoughts, stories and ideas.</p>
        <p><a class="btn btn-primary btn-lg" href="/admin/post-add" role="button">写文章</a></p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">站点内容统计：</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><strong><%= pcount %></strong>篇文章（<strong><%= dcount %></strong>篇草稿）</li>
              <li class="list-group-item"><strong><%= cacount %></strong>个分类</li>
              <li class="list-group-item"><strong><%= cocount %></strong>条评论（<strong><%= hcount %></strong>条待审核）</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

  <%- include('../common/adminCommon/aside'); -%>

  <!-- 这里是jquery和bootstrap插件 -->
  <%- include('../common/adminCommon/footer'); -%>

</body>

</html>